@model IEnumerable<MyDataCenter.Models.POCOS.Month>

@{
    ViewBag.Title = "ViewAllMonthsInfo";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@using (Html.BeginForm("CreateNewMonth", "Budget"))
{
    <td><input type="submit" value="Create New Month" name="saveButton" class="btn btn-success"/></td>
}

@using (Html.BeginForm("DeleteMonthInfo", "Budget"))
{
    <h2>All Months</h2>
    <table id="table"  class="table table-striped table-hover ">
        <tr>
            <th>Name</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
            <td></td>
            <td>@item.Name</td>
            <td><input type="submit" value="Delete" name="monthId" class="btn btn-danger btn-sm" /></td>
            </tr>
        }
        <tr>
        </tr>
    </table>

}

<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input id="month" name="monthID" type="checkbox" value="@item.Id" /> </td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>

    <tr>
        <td><input type="submit" value="Save" id="ButtonSubmit" /></td>

    </tr>
</table>

