@{
    ViewBag.Title = "Upload Sheets";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<body onload="myFunction()">

    <input type="file" id="myFile" multiple size="50" onchange="myFunction()">

    <p id="demo"></p>

</body>